@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMT.woff2') format('woff2'),
        url('../fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Essonnes Text';
    src: url('../fonts/EssonnesText-Bold.woff2') format('woff2'),
        url('../fonts/EssonnesText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}